

@{
    ViewData["Title"] = "Customer Setup";
}
@section title{
    @ViewData["Title"]
}

@section pagedescription{
    <h5> Sterling Asset Management Customer Setup. </h5>

}

<div class="card ">

    <div class="card-header text-center">
        <h4 class="card-title">STERLING ASSET CUSTOMER SETUP </h4>
    </div>

    <div class="card-body ">

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!--
            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
        -->
                <ul class="nav nav-pills nav-pills-success nav-pills-icons flex-column" role="tablist">


                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#customer" role="tablist">
                            <i class="now-ui-icons business_chart-bar-32"></i>
                            Customer Information System
                        </a>
                    </li>                  

                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane" id="customer">
                        @Html.Partial("_AddCustomer")
                    </div>
                  
                </div>
            </div>
        </div>



    </div>



</div>

@section Scripts {

    <script src="~/js/Customer.js"></script>


}




